<html>

<head>

<title>Blackjack</title>
<link rel="icon" href="card.png">
<link rel="stylesheet" type="text/css" href="static/css/blackjack.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Asset' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="static/js/blackjack.js"></script>
</head>

<body>

<div class="center"><h1 id='blackjack'>Blackjack</h1></div>

<div class="center" id="buttons">
  <button type="button" class="btn btn-primary" onclick="play()">Play</button>
  <button type="button" class="btn btn-primary" onclick="rules()">Rules</button>
</div>


</body>

</html>
