<!doctype html>
<!--fintan-->
<html>
  <head>
    <title>Blackjack</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/blackjack.css')}}">
    <script type ="text/javascript" src = "{{url_for('static',filename = 'js/blackjack1.js')}}"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <article>
      <header>
        <h1>Team 4 Blackjack</h1>
      </header>
    </article>
    <div>
<!-- create navigation menu -->
      <ul>
        <li><a class="active" href="blackjack.html">Home</a></li>
       
        <li style="float:right"><a class="active" href="about.html">About</a></li>
      </ul>
    </div>
  
<!-- create container for the canvas and other tags to group all of the content together -->
    <div class="canvas-container" id="canvas-container">
<!-- create canvas where the game will be played-->

      <canvas id = "play" width = "1200" height = "750"></canvas>
        <div id = 'wallet'>Wallet: <a id="balance">{{balance.balance}}</a></div><div id ='betPlaced' > Your Bet: 000</div><div id = 'paid'>Paid: 000 </div>

      <div id ='option'></div>
     <div id = 'bottomBorder'> 
           <!-- create slider with min value of 1 and increments in steps of one reflecting the betting
           structure of the game with 1 being the min bet and 100 being the max bet --> 

     <input type="range" min="0" max="100" value="50" class="slider" id="myBet" step = '5'> 
           <span><label id ="b">Bet Value : </span><span id="betValue"></span> 
         <button id="bet" class="button button1">Bet</button>
          <button id="newGame" class="button button2">New Game</button>
          <button id="hit" class="button button3">Hit</button>
          <button id="stand" class="button button4">Stand</button>
          
      <!-- create slider with min value of 1 and increments in steps of one reflecting the betting
           structure of the game with 1 being the min bet and 100 being the max bet --> 

      </div> 
    </div>
  </body>
</html>