{% extends "bootstrap/base.html" %}

{% block title %}
Blackjack
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Blackjack</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Blackjack</h1>
        <p class="lead">Blackjack, also known as twenty-one, is a comparing card game between usually several players <br>and a dealer, where each player in turn competes against the dealer, but players <br>do not play against each other. It is played with one or more decks of 52 <br>cards, and is the most widely played casino banking game in the world.</p>
      </div>

    </div><!-- /.container -->
{% endblock %}

{% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!
{% endif %}
